.home-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;

  /* Prevent Highlighting When Tapping*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .home-container {
    margin: 0 25px;
  }
}

.home-content-wrapper {
  .home-content-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      // flex-direction: row;

      .taps-wrapper {
        width: 100%;
        // order: 1;
      }
      .leaderboard-wrapper, .chat-wrapper {
        width: 30%;
      }
      .chat-wrapper {
        order: 2;
      }
    }
  }
}

#appTrigger {
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  margin-bottom: 20px;
  @media screen and (min-width: 600px) {
    margin-bottom: 50px;
    padding-right: 30px;
  }
  
  i {
    color: #fff;
    cursor: pointer;
    background: #acadfe;
    font-size: 2rem;
    padding: 18px 15px;
    border-radius: 50%;
    @media screen and (min-width: 600px) {
      font-size: 3rem;
      padding: 23px 20px;
    }
    &:hover {
      background: #8283ff;
      transition: 0.2s;
    }
  }
}