.chat-inputs-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #6ff1d5;
    border-right: none;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px 0 0 4px;
    width: 85%;
    vertical-align: middle;
    &::placeholder {
      color: rgb(77, 192, 167)
    }
  }

  button {
    padding: 0px;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #6ff1d5;
    width: 43px;
    height: 41px;
    vertical-align: middle;
    i {
      font-size: 1.4rem;
      color: #fff;
    }
    &:hover {
      background: #62d6bd;
      transition: 0.1s ease-in;
    }
  }
}