.home-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;

  /* Prevent Highlighting When Tapping*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .home-container {
    margin: 0 25px;
  }
}

.search-wrapper {
  .search-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    // i {
    //   font-size: 1.4rem;
    //   padding: 15px 16px 11px;
    //   margin-right: 8px;
    //   background: #8e95ff;
    //   color: #fff;
    //   border-radius: 4px;
    // }
    input {
      border: 1px solid #dedede;
      color: #666;
      padding: 13px;
      border-radius: 4px;
      font-size: 1.1rem;
      font-weight: 300;
      box-sizing: border-box;
      width: 100%;
      &::placeholder {
        color: #dedede;
      }
    }
  }
}

.feed-wrapper {
  margin-top: 30px;

  .feed-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .post-wrapper {
      margin: 0 10px 15px 10px;
      width: 23.5%;
      // min-width: 300px;

      .post-container {
        padding: 15px;
        border: 1px solid #ffeed4;
        border-radius: 4px;
        max-height: 450px;

        .post-content {
          h2 {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 10px;
            // line-height: 1.5;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          p {
           line-height: 1.5;
           font-size: 1.1rem;
           overflow-wrap: break-word;
          }
        }
        .post-votes {
          display: flex;
          flex-direction: row;
          margin: 15px 0 10px;
          padding-top: 10px;
          border-top: 1px solid #dedede;
          > div {
            display: flex;
            flex-direction: row;
            padding: 6px 0;
            cursor: pointer;
            &:first-child {
              margin-right: 10px;
            }
            i {
              margin-right: 5px;
              margin-top: -3px;
              font-size: 1.2rem;
            }
            p {
              font-size: 0.9rem;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .post-comment-input {
          margin-bottom: 15px;

          input {
            border: 1px solid #dedede;
            padding: 10px 8px;
            border-radius: 4px;
            font-size: 0.85rem;
            font-weight: 300;
            box-sizing: border-box;
            width: 100%;
          }
        }
        .comment-wrapper {
          .comment-container {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background: #f8f8f8;
            border-radius: 4px;
            margin-bottom: 10px;
            
            h4 {
              font-weight: 400;
              font-size: 0.9rem;
              margin-bottom: 8px;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
            p {
              font-size: 0.9rem;
              line-height: 1.5;
            }
          }
        }
        .post-button {
          margin-top: 15px;
          button {
            width: 100%;
            padding: 12px 0;
            text-align: center;
            border: none;
            border-radius: 4px;
            background: #f6dbb3;
            color: #fff;
            font-size: 0.9rem;
            cursor: pointer;
            &:hover {
              background: #f6cf94;
              transition: 0.2s;
            }
          }
        }
      }
    }
  }
}

