.home-wrapper {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;

  /* Prevent Highlighting When Tapping*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .home-container {
    margin: 0 15px;
    @media screen and (min-width: 600px) {
      margin: 0 25px;
    }
  }
}

.home-content-wrapper {
  .home-content-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    

    @media screen and (min-width: 600px) {
      flex-direction: row;

      > div {
        width: 30%;
        &:last-child {
          order: 2;
        }
      }
      .taps-wrapper {
        width: 40%;
        order: 1;
      }
    }
  }
}

.trigger-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  
  @media screen and (min-width: 600px) {
    margin-bottom: 50px;
    padding-right: 10px;
  }
  
  i {
    color: #fff;
    cursor: pointer;
    background: #acadfe;
    font-size: 2rem;
    border-radius: 50%;
    @media screen and (min-width: 600px) {
      font-size: 3rem;
    }
    &:hover {
      background: #8283ff;
      transition: 0.2s;
    }
  }

  .chat {
    padding: 20px 13px 16px 17px;
    @media screen and (min-width: 600px) {
      padding: 26px 17px 20px 23px;
    }
  }
  .social {
    padding: 18px 15px;
    margin-top: 8px;
    @media screen and (min-width: 600px) {
      padding: 23px 20px;
    }
  }
}