.chat-messages-wrapper {
  margin: 20px 0;

  .chat-messages-container {
    .message-container {
      display: flex;
      flex-direction: row;
      margin-left: 3px;
      margin-bottom: 15px;
      p {
        font-size: 1.1rem;
        line-height: 1.5;
        overflow-wrap: break-word;
        overflow: hidden;
        color: #777;

        span {
          color: #e4bc73;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}




