.leaderboard-wrapper {
  // Temp
  // margin-top: -450px;


  .leaderboard-options {
    display: inline-flex;
    border: 1px solid #a0cfff;
    border-radius: 4px;
    cursor: pointer;
    p {
      padding: 12px 0;
      width: 80px;
      text-align: center;
      border-right: 1px solid #a0cfff;
      color: #74b9ff;
      &:last-child {
        border-right: none;
      }
      &:hover {
        background: #a0cfff;
        color: #fff;
        transition: 0.1s ease-in;
      }

    }
    p.selected {
      background: #a0cfff;
      color: #fff;
    }
  }

  .leaderboard-items {
    margin: 25px 0;

    .leaderboard-item {
      display: flex;
      flex-direction: row;
      padding: 10px 3px;

      p {
        font-size: 1.2rem;
        color: #a4aaff;
        &:last-child {
          margin-left: 5px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}